/*------------------------------------------------------------------
    File Name: colors1.css
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
    color theme
-------------------------------------------------------------------*/

.bg_load{
	background-color: #fff !important;
}
.header_top,
#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus,
.full_slider_inner,
.bg_load,
.theme_color_bg,
.price_table_active .price_head,
a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus,
.social_icon_style_2 ul li a:hover,
.social_icon_style_2 ul li a:focus,
.progress-bar,
.tags a:hover,
.tags a:focus,
.testimonial_slider .carousel-control:hover,
.testimonial_slider .carousel-control:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.icon_feature {
	background: #0e7;
    background-size: 100% 100%;
    border: none;
}

.carousel-indicators .active {
	background: #fff;
}

.theme_bg {
    background: #039dae;
}

#navbar_menu > ul > li a.active,
#navbar_menu > ul > li:hover > a,
#navbar_menu > ul > li:focus > a,
footer p a:hover,footer p a:focus,
.footer-menu li a:hover,
.footer-menu li a:focus,
footer ul.social_icons li a:hover,
footer ul.social_icons li a:focus {
    color: #0e7;
}

.breadcrumb li a {
	color: #062c4c;
}

.btn.sqaure_bt {
    border-radius: 0;
    background: #f89c35;
}

.btn.sqaure_bt span {
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    right: 16px;
}

footer h2::after, .footer_mail-section .field button.button_custom, .cprt {
    background: #0e7;
}

.contact_us_section {
	background: #0e7;
} 

.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0 {
    background: #fff !important;
    max-width: 450px !important;
    width: 100% !important;
    height: 200px !important;
    min-width: 450px !important;
    border: solid #0e7 7px !important;
    text-align: center;
    padding: 50px 10px !important;
}
.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0.comodidad{
	max-width: 520px !important;
	min-width: 520px !important;
}

.tp-caption.NotGeneric-SubTitle, .NotGeneric-SubTitle {
	color: #666 !important;
}

.tp-caption.NotGeneric-Title, .NotGeneric-Title {
	color: #062c4c !important;
}

a.btn.main_bt,
button.btn.main_bt {
	background: #039dae;
	border: none;
}

a.btn.main_bt:hover,
a.btn.main_bt:focus,
button.btn.main_bt:hover,
button.btn.main_bt:focus {
	background: #25d8ed;
	background-size: 100% 100%;
	color: #fff;
}

a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus {
	color: #fff;
}

a.btn.light_btn,
button.btn.light_btn {
	background: #a864a8;
}

a.btn.light_btn:hover,
a.btn.light_btn:focus button.btn.light_btn:hover,
a.btn.light_btn:focus {
	background: #fff;
	color: #632e62;
	border-color: #fff;
}

.modal-backdrop {
	background-color: rgba(0, 0, 0, .9);
}

#navbar_menu ul ul,
hr.dottad_border,
.social_icon_style_2 ul li a:hover,
.social_icon_style_2 ul li a:focus,
.tags a:hover,
.tags a:focus,
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.comment_section,
.boder_dottat_small {
	border-color: #0e7;
}


.price_table_active a.btn:hover,
.price_table_active a.btn:focus {
	background: #252525;
	color: #fff;
}

.border_dotted_circle:hover,
.border_dotted_circle:focus {
	border-color: #632e62;
}

.btn.light_theme_bt:hover,
.btn.light_theme_bt:focus {
	background: #222;
	color: #fff;
	border: solid #222 1px;
}

.theme_color_bg .border_dotted_circle,
.theme_color_bg .border_dotted_circle:hover,
.theme_color_bg .border_dotted_circle:focus {
	border-color: #fff;
}

button.border_btn_white_border,
a.border_btn_white_border {
	background: transparent;
	border: solid #fff 1px;
}

button.border_btn_white_border:focus,
button.border_btn_white_border:hover,
a.border_btn_white_border:hover,
a.border_btn_white_border:focus {
	background: #fff;
	border: solid #fff 1px;
}

body.light_blue button.btn.white_btn:hover,
body.light_blue a.btn.white_btn:hover,
body.light_blue button.btn.white_btn:focus,
body.light_blue a.btn.white_btn:focus {
	background: #632e62;
	border-color: #632e62;
	color: #fff;
}

button.btn.white_btn, a.btn.white_btn, button.btn.white_btn, a.btn.white_btn {
	color: #111;
	text-transform: none;
	text-shadow: none;
}

button.btn.white_btn:hover, 
a.btn.white_btn:hover, 
button.btn.white_btn:hover, 
a.btn.white_btn:hover {
	color: #fff;
	text-transform: none;
	background: #111;
}

.tp-bannertimer {
    background: #0e7 !important;
}

.tp-caption.tp-shape.tp-shapewrapper.rs-parallaxlevel-0 {
	background-color: transparent !important;
}

/* Added Classes */

.formularioArrendatario .groupFormRadio{
	display: inline-block;
	width: 18%;
	margin: 1% 3%;
}
.formularioArrendatario form{
	padding-top: 5%;
}
.formularioArrendatario .tituloFormulario{
	padding-top: 2%;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
}
.formularioArrendatario form .groupForm input{
	width: 100%;
	padding: 2%;	
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 2%;
}
.formularioArrendatario .groupFormRadio .titleInput{
	font-size: 16px;
	font-weight: 500;
}
.formularioArrendatario .descArrendamiento{
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	padding: 2% 2%;
	background-color: #062c4c;
}
.formularioArrendatario .groupInputs .titleGroupInputs{
	font-size: 18px;
	font-weight: bold;
		
}
.formularioArrendatario .groupFormRadio label{
	font-size: 19px;
}
.formularioArrendatario .groupFormRadio input{
	width: 15px;
	height: 15px;
}
.formularioArrendatario .grupoFormularioVolumen input {
	width: 200px;
	border-radius: 10px;
	padding: 2%;
	border: 1px solid #ccc;
	margin-bottom: 2%;

}
.formularioArrendatario .groupInputs textarea{
	width: 100%;
	display: block;
	margin: auto;
	resize: none;
	border-radius: 10px;
	border:  1px solid #ccc;
	height: 200px;
	padding: 2%;
}
.formularioArrendatario button[type="submit"]{
	background-color: #F89E10;
	color: #fff;
	text-align: center;
	border: none;
	padding: 2%;
	margin: auto;
	display: block;
	margin-top: 3%;
	width: 50%;
	transition: ease all 0.2s;
}
.formularioArrendatario button[type="submit"]:hover{
	cursor: pointer;
	background-color: #0e7;
}

/* Chat */

.onlineChat{
	position: fixed;
	width: 35%;
	z-index: 10000000000000000000;
	background-color: #fff;
	bottom: -28%;
	right: 2%;
	height: 35%;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	transition: ease all 0.2s;
}
.onlineChat:hover{
	bottom: 0;
}
.onlineChat .titleChat{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #00A551;
}
.onlineChat .titleChat h5{
	text-align: center;
	font-size: 20px;
	padding: 2%;
	color: #fff;
}
.onlineChat .prevChatContent{
	padding: 2%;
}
.onlineChat .prevChatContent .groupForm input{
	width: 100%;
	text-align: center;
	padding: 1%;
	border-radius: 10px;
	border: 1px solid #ccc;
}

.onlineChat .prevChatContent .groupForm input:-webkit-autofill{
	
}
.onlineChat .prevChatContent form button{
	display: block;
	margin: auto;
	background-color: rgba(6,44,76,0.88);
	border: none;
	padding: 2%;
	color: #fff;
	text-align: center;
	margin-top: 2%;
	transition: ease all 0.2s;
}
.onlineChat .prevChatContent form button:hover{
	cursor: pointer;
	background-color: #00A551;
}
.onlineChat .chatFooter{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.onlineChat .chatFooter p{
	text-align: center;
	background-color: #00A551;
	margin-bottom: 0;
	padding: 1%;
	width: 100%;
	color: #fff;
}


/* End chat */

/* Sucursales */

.service_blog.sucursal iframe{
	width: 100%;
	display: block;
	margin: auto;
}

.service_blog.sucursal .tg-information{
	font-size: 16px;
}
.service_blog.sucursal .tg-information li{
	padding:  1% 0%;
}
.service_blog.sucursal h5{
	text-align: center;
	color: #062c4c;
	font-size: 23px;
	margin-bottom: 3%;
}
/* End sucursales */

/* Arrendamiento */

#imagenMultifuncional .circuloCentro{
	    animation: girarCirculo linear infinite 25s;
    transform-origin: 50.2% 64.5%;
}
#imagenMultifuncional svg{
	overflow: inherit;
}

@keyframes girarCirculo{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

#imagenMultifuncional text:hover{
	cursor: pointer;
}
/* End arrendamiento*/

/* End added classes */